@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(59, 114, 136, 0.479);
}
.center_container{
    /* height: 35%; */
    width: 35%;
    background-color: rgb(222, 234, 240);
    padding: 1.8rem 3.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0,0.8);

}
.center_container .question{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
} 
.center_container ul li{
    list-style: none;
    margin-top: 1.0rem;
    font-size: 2.3rem;
    padding-left: 1.5rem;
}
input{
    cursor: pointer;
}
#btn{
    background: none;
    background-color: rgba(127, 149, 221, 0.911);
    padding: .4rem .8rem;
    border: none;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    font-weight: 800;
}
#btn:hover{
    background-color: rgba(94, 108, 153, 0.774);
}
#show_result{
    background-color: rgb(180, 196, 196);
    padding: 3rem 4rem;
    margin-top: 2.2rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0,0.6);
}
h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}
.show{
    display: none;

}

